@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid grey;
  padding: 8px;
  text-align: left;
}

.btn-submit, a {
    font-family: 'Roboto Mono', monospace; /* Use your custom font */
  font-size: 16px; /* Adjust font size */
  color: #007bff; /* Link color */
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  text-decoration: underline; /* Add underline like a normal link */
  cursor: pointer; /* Pointer cursor for clickable action */
  display: inline; /* Inline style like a normal link */
}
  
  /* Hover Effect */
.btn-submit:hover {
    text-decoration: none; /* Remove underline on hover */
    color: #0056b3; /* Darker blue on hover */
}

th {
  background-color: #f4f4f4;
}

/* Ensure sortable links in table headers have no underline */
th a.sortable-link  {
    text-decoration: none;
    color: inherit; /* Ensure it inherits the table header color */
    font-weight: bold; /* Keep the bold styling */
    display: block; /* Ensure the entire header cell is clickable */
    padding: 8px; /* Add padding for better clickability */
}

/* Highlight entire column - Ascending */
th.sorted-asc, td.sorted-asc {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
  }
  
/* Highlight entire column - Descending */
th.sorted-desc, td.sorted-desc {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
}

  
  
